/* navbar */
.navbar-green {
    background-color: #00ad89;
    border-color: #00ad89;
    border-radius: 0px;
}

/* title */
.navbar-green .navbar-brand {
    color: #fff;
}
.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
    color: #ecf0f1;
}
/* link */
.navbar-green .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus {
    color: #d1ffed;
    background-color: #00c79d;
}
.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
    color: #d1ffed;
    background-color: #00c79d;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
    color: #d1ffed;
    background-color: #00ad89;
}
/* caret */
.navbar-green .navbar-nav > .dropdown > a .caret {
    border-top-color: #00ad89;
    border-bottom-color: #00ad89;
}
.navbar-green .navbar-nav > .dropdown > a:hover .caret,
.navbar-green .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #00ad89;
    border-bottom-color: #00ad89;
}
.navbar-green .navbar-nav > .open > a .caret,
.navbar-green .navbar-nav > .open > a:hover .caret,
.navbar-green .navbar-nav > .open > a:focus .caret {
    border-top-color: #00ad89;
    border-bottom-color: #00ad89;
}
/* mobile version */
.navbar-green .navbar-toggle {
    border-color: #00ad89;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
    background-color: #00ad89;
}
.navbar-green .navbar-toggle .icon-bar {
    background-color: #D1FFED;
}
@media (max-width: 767px) {
    .navbar-green .navbar-nav .open .dropdown-menu > li > a {
        color: #00ad89;
    }
    .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #00ad89;
    }
}